body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.header-logo, .action-title {
    font-weight: 900;
    font-size: 24px;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-link a {
    text-decoration: none;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.hero-title, .header-logo, .footer, .action-title, button {
    color: #F9FAF8;
}

.hero-subtext, .header-link a, .hero-img, .action-subtext {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-around;
    margin-bottom: 54px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    margin: 0;
}

.hero-img {
    width: 500px;
    height: 225px;
    background-color: gray;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 16px;
    font-weight: 900;
    background-color: #3882F6;
    border: 0;
    border-radius: 6px;
    padding: 8px 20px;
}

.random-info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 110px;
}

.cards {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card {
    color: gray;
    font-size: 16px;
    font-weight: 300;
}

.card-box {
    width: 150px;
    height: 150px;
    border: 4px #3882F6 solid;
    border-radius: 16px;
    margin-bottom: 10px;
}

.quotes {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 250px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 18px;
    font-weight: 1000;
    margin-left: auto;
}

.action {
    background-color: #3882F6;
    width: 950px;
    border-radius: 8px;
    padding: 50px 0;
    margin: 100px 0;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-subtext {
    margin: 0;
    padding: 0;
}

.action button {
    border: 2px #F9FAF8 solid;
    padding: 6px 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}